<a href="https://colab.research.google.com/github/shriya2909/ALSDataEngineer/blob/master/ALSDataEngineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## SKIP CELL IF USING LOCAL JUPYTERNOTEBOOK 
## THIS IS FOR GOOGLE COLAB NOTEBOOK 
#Access the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:

## SKIP CELL AND SET DIRECTORY TO FOLDER CONTAINING ALS CSV FILES 

#Setting working directory to the correct directory 
#Set working directory to folder containing the ALS csv files 
!pwd
%cd "/content/drive/My Drive/Data Challenges/ALS"
!pwd

/content
/content/drive/My Drive/Data Challenges/ALS
/content/drive/My Drive/Data Challenges/ALS

In [36]:
#Read the csv files into dataframes for data manipulation

import pandas as pd

cons = pd.DataFrame(pd.read_csv('./cons.csv'))
cons_email =  pd.DataFrame(pd.read_csv('./cons_email.csv'))
cons_email_chapter_subscription = pd.DataFrame(pd.read_csv('./cons_email_chapter_subscription.csv'))

In [38]:
cons_email.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400000 entries, 0 to 1399999
Data columns (total 16 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   cons_email_id         1400000 non-null  int64
 1   cons_id               1400000 non-null  int64
 2   cons_email_type_id    1400000 non-null  int64
 3   is_primary            1400000 non-null  int64
 4   email                 1400000 non-null  object
 5   canonical_local_part  700029 non-null   object
 6   domain                1400000 non-null  object
 7   double_validation     699825 non-null   object
 8   create_dt             1400000 non-null  object
 9   create_app            1400000 non-null  int64
 10  create_user           1400000 non-null  int64
 11  modified_dt           1400000 non-null  object
 12  modified_app          1400000 non-null  int64
 13  modified_user         1400000 non-null  int64
 14  status                1400000 non-null  int64
 15  note                  139535 non-null   object
dtypes: int64(9), object(7)
memory usage: 170.9+ MB

In [39]:
cons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   cons_id                     700000 non-null  int64
 1   prefix                      350304 non-null  object
 2   firstname                   350244 non-null  object
 3   middlename                  560213 non-null  object
 4   lastname                    349314 non-null  object
 5   suffix                      349541 non-null  object
 6   salutation                  350021 non-null  object
 7   gender                      349891 non-null  object
 8   birth_dt                    349954 non-null  object
 9   title                       350082 non-null  object
 10  employer                    349228 non-null  object
 11  occupation                  350239 non-null  object
 12  income                      350637 non-null  float64
 13  source                      350026 non-null  object
 14  subsource                   350315 non-null  object
 15  userid                      700000 non-null  int64
 16  password                    700000 non-null  object
 17  is_validated                700000 non-null  int64
 18  is_banned                   700000 non-null  int64
 19  change_password_next_login  700000 non-null  int64
 20  consent_type_id             700000 non-null  int64
 21  create_dt                   700000 non-null  object
 22  create_app                  700000 non-null  int64
 23  create_user                 700000 non-null  int64
 24  modified_dt                 700000 non-null  object
 25  modified_app                700000 non-null  int64
 26  modified_user               700000 non-null  int64
 27  status                      700000 non-null  int64
 28  note                        69884 non-null   object
dtypes: float64(1), int64(11), object(17)
memory usage: 154.9+ MB

In [40]:
cons_email_chapter_subscription.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350000 entries, 0 to 349999
Data columns (total 6 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   cons_email_chapter_subscription_id  350000 non-null  int64
 1   cons_email_id                       350000 non-null  int64
 2   chapter_id                          350000 non-null  int64
 3   isunsub                             350000 non-null  int64
 4   unsub_dt                            350000 non-null  object
 5   modified_dt                         350000 non-null  object
dtypes: int64(4), object(2)
memory usage: 16.0+ MB

## Q1. PEOPLE CSV 


**1. Creating People Dataframe as following :**

1.1.   email (string) <- Extracting emails which are primary -> cons_email.is_primary = 1 <br>
1.2.   code (string) <- Extracting cons.source as the source code by joining with cons such that cons_email.cons_id = cons.cons_id<br>
1.3. is_unsub (boolean) <- Is the primary email address unsubscribed? : Extracting cons_email_chapter_subscription.isunsub by joining cons_email_chapter_subscription with cons_email such that cons_email.cons_email_id = cons_email_chapter_subscription.cons_email_id
<br>1.4. created_dt (datetime) <- cons.create_dt
<br>1.5. updated_dt (datetime) <- cons.modified_dt

**2. Writing People dataframe to csv file in the current directory**

In [41]:
column_names = ["email", "code", "is_unsub", "created_dt","updated_dt"]
people = pd.DataFrame(columns = column_names)

In [43]:
# Extracting only relevant columns that would be needed for creation of people dataframe
cons_email_sub_cols= ['email','is_primary','cons_id','cons_email_id']
cons_email_sub = cons_email[cons_email_sub_cols]
cons_sub_cols = ['cons_id','source','create_dt','modified_dt']
cons_sub = cons[cons_sub_cols]
cons_email_chapter_subscription_sub_cols = ['cons_email_id','isunsub']
cons_email_chapter_subscription_sub = cons_email_chapter_subscription[cons_email_chapter_subscription_sub_cols]

In [44]:
cons_email_primary = cons_email_sub[cons_email_sub['is_primary']== 1]
cons_email_primary = cons_email_primary.drop(['is_primary'], axis=1)
cons_email_join_cons = cons_email_primary.merge(cons_sub, on = 'cons_id', how='inner')

In [45]:
cons_email_join_cons_subscription = cons_email_join_cons.merge(cons_email_chapter_subscription_sub,on = 'cons_email_id', how='inner')

In [46]:
people = cons_email_join_cons_subscription.drop(['cons_id','cons_email_id'], axis=1)

In [47]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221031 entries, 0 to 221030
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   email        221031 non-null  object
 1   source       111052 non-null  object
 2   create_dt    221031 non-null  object
 3   modified_dt  221031 non-null  object
 4   isunsub      221031 non-null  int64
dtypes: int64(1), object(4)
memory usage: 10.1+ MB

In [48]:
people = people.rename(columns={'modified_dt': 'updated_dt', 'source': 'code', 'isunsub': 'is_unsub','create_dt': 'created_dt'})

In [49]:
people['created_dt'] = pd.to_datetime(people['created_dt'])

In [50]:
people['updated_dt'] = pd.to_datetime(people['updated_dt'])

In [51]:
# Using dictionary to convert specific columns 
convert_dict = {'email': str, 
                'code' : str,
                'is_unsub' : bool 
               } 
  
people = people.astype(convert_dict) 
print(people.dtypes)

email                 object
code                  object
created_dt    datetime64[ns]
updated_dt    datetime64[ns]
is_unsub                bool
dtype: object

In [52]:
people.head()

                             email     code  ...          updated_dt is_unsub
0                aaron64@yahoo.com      nan  ... 1986-07-28 03:41:12     True
1         wyattvincent@hotmail.com      nan  ... 1983-05-07 09:29:18     True
2             tspencer@hotmail.com  twitter  ... 1979-09-22 05:01:01     True
3                ogarcia@gmail.com      nan  ... 1996-02-03 15:32:15     True
4  madeline69@mccarthy-jackson.com  twitter  ... 2014-07-15 01:05:24     True

[5 rows x 5 columns]

In [53]:
# Writing into csv file called people.csv in the working directory 

people.to_csv('people.csv', index=False)

## Q2. Acquisition_facts

In [55]:
from datetime import datetime as dt

# Converting timestamp to just the date 
people['created_dt'] = people['created_dt'].dt.normalize()

In [70]:
# Grouping by created date [ interpreted as acquisition_date] and getting their corresponding counts and extracting it into column called acquisitions
Acquisition_facts = people.groupby('created_dt').size().reset_index(name='acquisitions')

In [71]:
Acquisition_facts = Acquisition_facts.rename(columns={'created_dt':'acquisition_date'})

In [72]:
# Checking the datatypes of columns
Acquisition_facts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18443 entries, 0 to 18442
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   acquisition_date  18443 non-null  datetime64[ns]
 1   acquisitions      18443 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 288.3 KB

In [73]:
Acquisition_facts.head()

  acquisition_date  acquisitions
0       1970-01-01             8
1       1970-01-02             9
2       1970-01-03            13
3       1970-01-04            12
4       1970-01-05            19

In [74]:
# Writing into csv file called Acquisition_facts.csv in the working directory 

Acquisition_facts.to_csv('Acquisition_facts.csv', index=False)